In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [23]:
# Load the Dataset 

data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  CreditScore  ... HasCrCard IsActiveMember  EstimatedSalary  Exited
0          1    15634602  Hargrave          619  ...         1              1        101348.88       1
1          2    15647311      Hill          608  ...         0              1        112542.58       0
2          3    15619304      Onio          502  ...         1              0        113931.57       1
3          4    15701354      Boni          699  ...         0              0         93826.63       0
4          5    15737888  Mitchell          850  ...         1              1         79084.10       0

[5 rows x 14 columns]

In [24]:
# Prepreocessing 

data = data.drop(['RowNumber','CustomerId','Surname'], axis = 1)
data.head()

   CreditScore Geography  Gender  Age  Tenure  ...  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female   42       2  ...              1          1               1        101348.88       1
1          608     Spain  Female   41       1  ...              1          0               1        112542.58       0
2          502    France  Female   42       8  ...              3          1               0        113931.57       1
3          699    France  Female   39       1  ...              2          0               0         93826.63       0
4          850     Spain  Female   43       2  ...              1          1               1         79084.10       0

[5 rows x 11 columns]

In [25]:
# Encode categorical variable 

label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  Age  Tenure  ...  NumOfProducts  HasCrCard  IsActiveMember  EstimatedSalary  Exited
0          619    France       0   42       2  ...              1          1               1        101348.88       1
1          608     Spain       0   41       1  ...              1          0               1        112542.58       0
2          502    France       0   42       8  ...              3          1               0        113931.57       1
3          699    France       0   39       1  ...              2          0               0         93826.63       0
4          850     Spain       0   43       2  ...              1          1               1         79084.10       0

[5 rows x 11 columns]

In [26]:
# One hot encoding Geography 

from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [27]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [28]:
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [29]:
# Combine all the columns 

data = pd.concat([data.drop('Geography',axis = 1),geo_encoded_df], axis = 1)
data

      CreditScore  Gender  Age  Tenure  ...  Exited  Geography_France  Geography_Germany  Geography_Spain
0             619       0   42       2  ...       1               1.0                0.0              0.0
1             608       0   41       1  ...       0               0.0                0.0              1.0
2             502       0   42       8  ...       1               1.0                0.0              0.0
3             699       0   39       1  ...       0               1.0                0.0              0.0
4             850       0   43       2  ...       0               0.0                0.0              1.0
...           ...     ...  ...     ...  ...     ...               ...                ...              ...
9995          771       1   39       5  ...       0               1.0                0.0              0.0
9996          516       1   35      10  ...       0               1.0                0.0              0.0
9997          709       0   36       7  ...       1               1.0                0.0              0.0
9998          772       1   42       3  ...       1               0.0                1.0              0.0
9999          792       0   28       4  ...       0               1.0                0.0              0.0

[10000 rows x 13 columns]

In [30]:
# Save the encoders

with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [34]:
# Define X and y

X = data.drop('Exited', axis = 1)
y = data['Exited']

In [35]:
# Split the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Scale the data
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [36]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

## ANN

In [37]:
import tensorflow as tf

In [38]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [40]:
# Build ANN Model 

model = Sequential([
    Dense(64, activation='relu', input_shape = (X_train.shape[1],)),
    Dense(32, activation = 'relu'),
    Dense(1, activation = 'sigmoid')
    ])

In [41]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                      │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [43]:
## Compile the model 
model.compile(optimizer = 'adam', loss = "binary_crossentropy", metrics = ['accuracy'])

In [48]:
## Set up Tensorboard

from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = 'logs/fit' + datetime.datetime.now().strftime("%Y%m%d-%ddH%m%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)

In [51]:
## Setup Early Stopping 

early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 10, restore_best_weights=True)

In [52]:
## Training the Model 

history = model.fit(
    X_train,y_train,validation_data = (X_test, y_test), epochs = 100, 
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8712 - loss: 0.3169 - val_accuracy: 0.8615 - val_loss: 0.3388
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8677 - loss: 0.3198 - val_accuracy: 0.8600 - val_loss: 0.3417
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8653 - loss: 0.3203 - val_accuracy: 0.8600 - val_loss: 0.3407
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8589 - loss: 0.3305 - val_accuracy: 0.8650 - val_loss: 0.3388
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8645 - loss: 0.3199 - val_accuracy: 0.8630 - val_loss: 0.3455
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8648 - loss: 0.3123 - val_accuracy: 0.8610 - val_loss: 0.3412
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8701 - loss: 0.3198 - val_accuracy: 0.8570 - val_loss: 0.3391
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8651 - loss: 0.3157 - val_accuracy: 0.8600 - val_loss: 0.3411
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8665 - loss: 0.3157 - val_accuracy: 0.8605 - val_loss: 0.3415
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8721 - loss: 0.3065 - val_accuracy: 0.8590 - val_loss: 0.3445
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8706 - loss: 0.3096 - val_accuracy: 0.8665 - val_loss: 0.3379
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8761 - loss: 0.3029 - val_accuracy: 0.8610 - val_loss: 0.3414
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8705 - loss: 0.3091 - val_accuracy: 0.8605 - val_loss: 0.3392
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8680 - loss: 0.3101 - val_accuracy: 0.8590 - val_loss: 0.3415
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8761 - loss: 0.2992 - val_accuracy: 0.8625 - val_loss: 0.3416
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8691 - loss: 0.3081 - val_accuracy: 0.8620 - val_loss: 0.3408
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8709 - loss: 0.3052 - val_accuracy: 0.8615 - val_loss: 0.3403
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8774 - loss: 0.2928 - val_accuracy: 0.8615 - val_loss: 0.3386
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8771 - loss: 0.2948 - val_accuracy: 0.8635 - val_loss: 0.3405
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8831 - loss: 0.2833 - val_accuracy: 0.8620 - val_loss: 0.3428
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8796 - loss: 0.2867 - val_accuracy: 0.8660 - val_loss: 0.3426

In [54]:
model.save('my_model.keras')

In [55]:
## Load Tensorboard extension 

%load_ext tensorboard

In [57]:
%tensorboard --logdir logs/fit20250318-18dH0330